.vs/
Debug/
System/
Release/

Pch.cpp
Pch.h

BaseFramework.sln
imgui.ini
Project.vcxproj
Project.vcxproj.filters
Project.vcxproj.user
SpriteFont.dat
/Src/Application/CHidden_BACKUP_12480.cpp
/Src/Application/CHidden_BASE_12480.cpp
/Src/Application/CHidden_LOCAL_12480.cpp
/Src/Application/CHidden_REMOTE_12480.cpp
*.txt
